<h1>Bonjour <%= current_user.email %> </h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#index">Accueil</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><p><%= link_to "Ajouter une image"  , controller: 'points' %></p></li>
        <li><p><%= link_to "Ajouter une carte"  , controller: 'maps' %></p></li>
        <li><p><%= link_to "Gestion de la carte", controller: 'maps' %></p></li>
      </ul>
    </div>
  </div>
</nav>
</div>

<!-- include de la bonne page -->
<div class="col-xs-12 col-sm-6 col-md-8">
  <% if user_signed_in? %>
    <div id="sphere" style="width: 70%; height: 600px;"></div>
  <% end %>
</div>
<div class="col-xs-6 col-md-4">Carte là..</div>

