<h1>Bonjour <%= current_user.email %> </h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Accueil</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Ajout d'une photo</a></li>
        <li><a href="#">Ajout d'une carte</a></li>
        <li><a href="#">Gerer ses photos</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>

<!-- include de la bonne page -->
  <div class="col-xs-12 col-sm-6 col-md-8">Photos panoramique ici..</div>
  <div class="col-xs-6 col-md-4">Carte là..</div>

